@model DataAccessLayer.ViewModels.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Styles {

}

<br />
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" id="loginForm" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @*<span>Please correct the following errors</span>*@
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ReturnUrl" class="control-label"></label>
                <input asp-for="ReturnUrl" class="form-control" />
                <span asp-validation-for="ReturnUrl" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" id="btnLogin" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/Login/Login.js"></script>
}
